pandas
requests
streamlit
matplotlib
seaborn
fastparquet
beautifulsoup4
cssselect
plotly==5.24.1
fastapi
uvicorn
httpie
torch
transformers
langchain_community
langchain==0.3.7
langchain-huggingface
huggingface_hub
sentencepiece
langchain_google_genai
python-dotenv